*{
  font-family: 'Akaya Telivigala', cursive;
}
.App{
  min-height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.container{
  display: flex;
  justify-content: center;
}

.logo{
  margin: 2% 4%;
}

.logo:hover{
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  text-align: center;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.search-button:hover{
  background: rgb(240, 109, 109);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media (max-width: 1024px){
  .recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}




