.recipe{
    font-size: large;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: white;
    align-items: center;
    min-width: 50%;
}

.image{
    border-radius: 10%;
    width: 300px;
    height: 300px;
}

.calories{
    font-weight: bold;
}

.ingredients{
    margin: 5px;
}


@media (max-width: 768px){
    .image{

        width: 250px;
        height: 250px;
    }
  }